<h1>User info</h1>
<%= form_with model: @user do |form| %>
  <%= form.file_field :profile_image %>
  <h2>name</h2>
  <%= current_user.name %>
  <h2>introduction</h2>

<% end %>

<h1>New book</h1>
<%= form_with model: @book do |form| %>
  <h2>Title</h2>
  <%= form.text_field :title %>
  <h2>Opinion</h2>
  <%= form.text_area :body %>
<%= form.submit "Create Book" %>
<% end %>

<h1>Books</h1>
<h2>Title</h2>
<h2>Opinion</h2>
<% @books.each do |book| %>
  <h2><%= book.title %></h2>
  <p><%= book.body %></p>
<% end %>

